@import url('https://fonts.googleapis.com/css2?family=Ribeye&family=Roboto&display=swap');


/*------------------General------------------*/

body {
    background-color: rgb(17, 0, 255);
	font-family: 'Ribeye', sans-serif;
}

.card .card-content {
    background-color: #c0e1ff;
}

.grey.lighten-4 {
    background-color: #c0e1ff !important;
}

/*------------------ Text Style ------------------*/
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    
}

h5 {
    line-height: 0.2;
    margin: 0.1rem 0 .1rem 0;
}

.container {
    padding: 3%;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #09035a;

}

.tabs .tab a:hover, .tabs .tab a.active {
    
    color: #09035a;
}

tabs .tab a {
    color: #09035a;
}

.tabs .indicator {
    background-color: #09035a;
}

.tabs .tab a {
    color: #09035a;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgb(255 220 122 / 82%);
}

/*------------------ Font-Awesome Style ------------------*/

.fa-user-plus:before {
    color: blue;
}

.fa-user-lock:before {
    color: blue;
}

.fa-user-cog:before {
    color: blue;
}



/*------------------ Flash message ------------------*/

.flashes h4 {
    line-height: 2;
}

/*------------------ navbar logo size  message ------------------*/

nav .brand-logo {
   
    font-size: 2.0rem;
    
}
