@import url('https://fonts.googleapis.com/css2?family=Ribeye&family=Roboto&display=swap');


/*------------------General------------------*/

body {
	font-family: 'Ribeye', sans-serif;
}

.card .card-content {
    padding: 1px;
}

.padding {
    padding: 10px;
}

.translate {
    color: brown;
}

.margin {
    margin: 4px;
}

.ml {
    padding: 14px;
}


/*------------------ Text Style ------------------*/
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    
}

.text-shadow-no {
    text-shadow: none;
}

.container {
    padding: 3%;
}



/*------------------ Flash message ------------------*/

.flashes h4 {
    line-height: 2;
}

/*------------------ navbar logo size  message ------------------*/

nav .brand-logo {
   
    font-size: 1.9rem;
    
}

/*------------------ collapsible card  ------------------*/

.collapsible-body {
    padding: 2%;
}

.lightred {
    color: #EF9A9A;
}