@import url('https://fonts.googleapis.com/css2?family=Ribeye&family=Roboto&display=swap');


/*------------------General------------------*/

body {
	font-family: 'Ribeye', sans-serif;
}

.card .card-content {
    padding: 1px;
}

.translate {
    color: brown;
}

.margin {
    margin: 4px;
}

/*------------------ Text Style ------------------*/
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    
}
/*------------------ 
h5 {
    line-height: 0.2;
    margin: 0.1rem 0 .1rem 0;
}
Text Style ------------------*/
.container {
    padding: 3%;
}


/*------------------ Font-Awesome Style ------------------*/



/*------------------ Flash message ------------------*/

.flashes h4 {
    line-height: 2;
}

/*------------------ navbar logo size  message ------------------*/

nav .brand-logo {
   
    font-size: 2.0rem;
    
}

/*------------------ collapsible card  ------------------*/

.collapsible-body {
    padding: 2%;
}

.lightred {
    color: #EF9A9A;
}