{% extends "base.html" %}
{% block content %}



<div>
    
    <div class="col s12 m4 center">
        <div class="card teal-text teal lighten-5 center-align">
            <div class="card-content">
                <span class="card-title"></span> 
                <h4>You can search for individual words by hiting the "search words now" button or search by a category below.
                </h4>
                </div>
            <div class="card-action z-depth-5 teal lighten-2"> <h6 class="white-text text-shadow center-align"><a href="{{ url_for('get_words') }}"
                    class="waves-effect blue lighten-3 waves-effect waves-light btn white-text text-shadow waves-light btn-small center">Search</a> words now!</h6>
            </div>
        </div>
    </div>
</div>

<h2 class="teal-text center-align">Search Catagories</h2>


<div class="row">
    {% for category in categories %}
    <div class="col s12 m4 center">
        <div class="card white-text teal lighten-2 text-shadow center-align">
            <div class="card-content white-text">
                <span class="card-title">{{ category.category_name }}</span>
            </div>
            <div class="card-action white z-depth-5">
                <a href="{{ url_for('word_cat', category_id=category._id) }}"
                    class="waves-effect blue lighten-3 waves-effect waves-light btn white-text text-shadow waves-light btn-small">Select</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}