{% extends "base.html" %}
{% block content %}

<!-- Pronunciation -->

<table class="highlight responsive-table white">
    <h4 class="teal-text center-align">Pronunciation</h4>
    <p class="center teal-text">Use the table below to help you pronounce the Lithuanian letters</p>
        <thead>
          <tr class="teal center lighten-4">
              <th>Lithuanian Alphabet</th>
              <th>English Sound</th>
              <th>Example of sound</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>A a</td>
            <td>a</td>
            <td>stAr</td>
          </tr>
          <tr>
            <td>Ą ą</td>
            <td>aa</td>
            <td>fAther</td>
          </tr>
          <tr>
            <td>B b</td>
            <td>b</td>
            <td>Boat</td>
          </tr>
          <tr>
            <td>C c</td>
            <td>ts</td>
            <td>baTS</td>
          </tr>
          <tr>
            <td>Č č</td>
            <td>ch</td>
            <td>CHeck</td>
          </tr>
          <tr>
            <td>D d</td>
            <td>d</td>
            <td>Door</td>
          </tr>
          <tr>
            <td>E e</td>
            <td>e</td>
            <td>trEat</td>
          </tr>
          <tr>
            <td>Ę ę</td>
            <td>aa</td>
            <td>bAn</td>
          </tr>
          <tr>
            <td>Ė ė</td>
            <td>ai</td>
            <td>stAIr</td>
          </tr>
          <tr>
            <td>F f</td>
            <td>f</td>
            <td>Face</td>
          </tr>
          <tr>
            <td>G g</td>
            <td>g</td>
            <td>Goat</td>
          </tr>
          <tr>
            <td>H h</td>
            <td>h</td>
            <td>Hover</td>
          </tr>
          <tr>
            <td>I i</td>
            <td>i</td>
            <td>pIt</td>
          </tr>
          <tr>
            <td>Į į</td>
            <td>ee</td>
            <td>fEEt</td>
          </tr>
          <tr>
            <td>Y y</td>
            <td>i</td>
            <td>machIne</td>
          </tr>
          <tr>
            <td>J j</td>
            <td>y</td>
            <td>Your</td>
          </tr>
          <tr>
            <td>K k</td>
            <td>k</td>
            <td>Keep</td>
          </tr>
          <tr>
            <td>L l</td>
            <td>l</td>
            <td>Lamp</td>
          </tr>
          <tr>
            <td>M m</td>
            <td>m</td>
            <td>Mum</td>
          </tr>
          <tr>
            <td>N n</td>
            <td>n</td>
            <td>Never</td>
          </tr>
          <tr>
            <td>O o</td>
            <td>o</td>
            <td>sOre</td>
          </tr>
          <tr>
            <td>P p</td>
            <td>p</td>
            <td>Poor</td>
          </tr>
          <tr>
            <td>R r</td>
            <td>r</td>
            <td>Ramp</td>
          </tr>
          <tr>
            <td>S s</td>
            <td>s</td>
            <td>Said</td>
          </tr>
          <tr>
            <td>Š š</td>
            <td>sh</td>
            <td>SHe</td>
          </tr>
          <tr>
            <td>T t</td>
            <td>t</td>
            <td>Talk</td>
          </tr>
          <tr>
            <td>U u</td>
            <td>u</td>
            <td>tUt</td>
          </tr>
          <tr>
            <td>Ų ų</td>
            <td>oo</td>
            <td>lOOt</td>
          </tr>
          <tr>
            <td>Ū ū</td>
            <td>oo</td>
            <td>spOOn</td>
          </tr>
          <tr>
            <td>V v</td>
            <td>v</td>
            <td>Van</td>
          </tr>
          <tr>
            <td>Z z</td>
            <td>z</td>
            <td>Zoo</td>
          </tr>
          <tr>
            <td>Ž ž</td>
            <td>s</td>
            <td>meaSure</td>
          </tr>
        </tbody>
      </table>

{% endblock %}