{% extends "base.html" %}
{% block content %}

<h3 class="teal-text center-align">{{ category.category_name }}</h3>

 <ul class="collapsible">
         {% for words in words %}
         {% if categories.category_name == words.category_name %}
        <li>
            <div class="collapsible-header white-text teal lighten-2 text-shadow">
                <i class="fas fa-caret-down"></i>
                <h4>{{ words.eng_word }}</h4>  
            </div>
            <div class="collapsible-body center">
                <h4 class="lightred"> <em class="black-text">Translate It: </em>{{ words.lt_word }}</h4>
                <div class="progress col s6">
      <div class="determinate" style="width: 100%"></div>
  </div>
            <span><em class="black-text">Helpful ifo: </em>
                <h5 class="teal-text">{{ words.helpful_info }}</h5>
            </span>
            <span><em class="black-text">Used in a sentance: </em>
                <h5 class="teal-text">{{ words.used_in_sentence }}</h5>
                <p><em>Entered: {{ words.created_by }}</em></p>
                <p><em>Category: {{ words.category_name }}</em></p>
            </span>
         {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
            

{% endblock %}