{% extends "base.html" %}
{% block content %}

<div class="card">
    {% for words in words %}
    <div class="card-content teal-text z-depth-5 center">
        <h4>{{ words.eng_word }}</h4>
        <div class="progress">
        </div>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#test4">Translate</a></li>
            <li class="tab"><a href="#test5">Tip:</a></li>
            <li class="tab"><a href="#test6">Used in a sentance:</a></li>
        </ul>
    </div>
    <div class="card-content teal accent-3 white-text text-shadow center">
        <div id="test4">
            <h4>{{ words.lt_word }}</h4>
        </div>
        <div id="test5">
            <h4>{{ words.helpful_info }}</h4>
        </div>
        <div id="test6">
            <h4>{{ words.used_in_sentence }}</h4>
        </div>
        <p><em>By: {{ words.created_by }}</em></p>
    </div>
    {% endfor %}
</div>
{% endblock %}